body {
margin: 0;
font-family: Arial, sans-serif;
background: #f8f8f8;
color: #333;
}
header {
text-align: center;
padding: 40px 20px;
background: #111;
color: white;
}
header h1 { 
    font-size: 2.5rem; 
    margin-bottom: 10px; 
}
header p { 
    font-size: 1.1rem; 
}
nav.main-nav{
    margin-left:auto
}
.nav-inner{
    display:flex;
    gap:12px; 
    align-items:center
}
.nav-inner a{
    color:white; 
    text-decoration:none; 
    padding:10px 14px; 
    border-radius:6px; 
    background:transparent; 
    font-weight:600

}
.nav-inner a:hover{
    background:rgba(241, 206, 7, 0.918)
}


.services {
padding: 40px 20px;
max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
}
.service-card {
background: rgb(226, 216, 195);
padding: 25px;
border-radius: 12px;
box-shadow: 0 4px 10px rgba(0,0,0,0.08);
text-align: center;
transition: 0.3s;
}
.service-card:hover {
transform: translateY(-5px);
}
.service-card img {
width: 80px;
height: auto;
margin-bottom: 15px;
}
.service-card h3 {
margin-bottom: 10px;
font-size: 1.3rem;
}
/* ORDER SECTION */
.order {
background: #ffffff;
padding: 50px 20px;
max-width: 800px;
margin: 40px auto;
border-radius: 12px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.order h2 {
text-align: center;
margin-bottom: 20px;
}
.order form input, .order form textarea, .order form select {
width: 100%;
padding: 12px;
margin: 10px 0;
border-radius: 6px;
border: 1px solid #ccc;
font-size: 1rem;
}
.order button {
width: 100%;
padding: 15px;
background: #111;
color: white;
border: none;
font-size: 1.1rem;
border-radius: 6px;
cursor: pointer;
}
.order button:hover {
background: #444;
}


/* CONTACT */
.contact {
background: #111;
color: white;
padding: 40px 20px;
text-align: center;
}
.contact a {
color: #ffcc00;
text-decoration: none;
font-weight: bold;
}


@media (max-width: 600px) {
header h1 { font-size: 2rem; }
}