body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  background-color: #f9f9f9;
}

main {
  background-color: #ddd;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 320px;
}

h1 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #555;
  border-radius: 0.2rem;
}

button {
  background-color: #eee;
  border: 1px solid #aaa;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.2rem;
}

button:hover {
  background-color: #ccc;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

li button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: red;
}