@media screen and (min-width: 768px) {
  #menu {
    display: none;
  }

  nav {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  figure img {
    width: 100%;
    height: auto;
  }
}
