:root {
  --primary-color: #1c3d5a;
  --secondary-color: #f5f5f5;
  --accent-color: #f3c623;
  --dark-color: #333;
}

body {
  font-family: Arial, sans-serif;
  background: #fbfafc;
  margin: 0;
  padding: 0;
}

header {
  background: var(--primary-color);
  color: white;
  padding: 5px;
  text-align: center;
}

.form-wrapper, .thankyou {
  background: rgb(157, 151, 165);
  margin: 20px auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(241, 206, 7, 0.897);
}

.rating-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 0;
}

.rating-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.rating-item input[type="radio"] {
  width: 22px;
  height: 22px;
  accent-color: #6d4a72;  /* purple color similar to your screenshot */
}
fieldset {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.required {
  color: red;
}

input[type="text"],
input[type="date"],
select,
textarea {
  width: 95%;
  padding: 14px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #676769;
}

.rating label {
  margin-right: 10px;
}

.btn {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: #000c04;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background: #ce2222;
}

#reviewerName {
    width: 100%;
    padding: 14px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#reviewerName:focus {
    outline: none;
    border-color: #7a4b63; /* same purple tone as your form */
    box-shadow: 0 0 3px rgba(122, 75, 99, 0.4);
}

/* FOOTER */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
}

footer p {
  margin: 0.25rem 0;
  gap: 3rem;
}

footer .last-modified{
  color: #f3c623;
  font-size: 0.9rem;
}