/* Google font applied to the body */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header, main, footer {
  max-width: 640px;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  background-color: #c8d4f0; /* light blue */
}

/* Header*/
header {
  background-color: #c8d4f0;
  color: black;
}

h1 {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/*scripture section */
section {
  padding: 1rem;
  background-color: white;
  border: 2px solid #b0b7e0;
}

footer {
  text-align: center;
  background-color: #b0b7e0;
  font-weight: bold;
}